@model EDU.Web.Models.TrainingConfirmation
@{
    ViewBag.Title = "TrainerConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">TrainerConfirmation</h4>
        </div>
        <div class="modal-body" id="ProductCategoryModalBody">

          
        </div>
        </div>
    </div>



