
@{
    ViewBag.Title = "OperationalExpenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Dashboard - Operational Expenses</h4>
                    <div class="box-tools">
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            @*<div class="row">
                                    <h2>YTD</h2>
                                </div>*@
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div id="jqChart"></div>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-11">
                                        <div id="jqChart1"></div>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-11">
                                        <div id="jqChart2"></div>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-11">
                                        <div id="jqChart3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div id="jqChart4"></div>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-11">
                                        <div id="jqChart5"></div>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-11">
                                        <div id="jqChart6"></div>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-11">
                                        <div id="jqChart7"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section SectionScripts{
    <script type="text/javascript">
        $(function () {
            $('#liReportsOperationalExpenses').addClass('active');
        });
        $(document).ready(function () {
            $('#jqChart').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                series: [
                    {
                        type: 'column',
                        title: 'CAMBODIA',
                        fillStyles: ['#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970'],
                        data: [['JAN', 33], ['FEB', 57], ['MAR', 33],
                        ['APR', 12], ['MAY', 35], ['JUN', 7], ['JUL', 24],
                        ['AUG', 12], ['SEP', 35], ['OCT', 7], ['NOV', 24], ['DEC', 24]
                        ]
                    }
                ]
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#jqChart1').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                series: [
                    {
                        type: 'column',
                        title: 'MYANMAR',
                        fillStyles: ['#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970'],
                        data: [['JAN', 33], ['FEB', 57], ['MAR', 33],
                        ['APR', 12], ['MAY', 35], ['JUN', 7], ['JUL', 24],
                        ['AUG', 12], ['SEP', 35], ['OCT', 7], ['NOV', 24], ['DEC', 24]
                        ]
                    }
                ]
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#jqChart2').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                series: [
                    {
                        type: 'column',
                        title: 'PAKISTAN',
                        fillStyles: ['#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970'],
                        data: [['JAN', 33], ['FEB', 57], ['MAR', 33],
                        ['APR', 12], ['MAY', 35], ['JUN', 7], ['JUL', 24],
                        ['AUG', 12], ['SEP', 35], ['OCT', 7], ['NOV', 24], ['DEC', 24]
                        ]
                    }
                ]
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#jqChart3').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                series: [
                    {
                        type: 'column',
                        title: 'LAOS',
                        fillStyles: ['#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970'],
                        data: [['JAN', 33], ['FEB', 57], ['MAR', 33],
                        ['APR', 12], ['MAY', 35], ['JUN', 7], ['JUL', 24],
                        ['AUG', 12], ['SEP', 35], ['OCT', 7], ['NOV', 24], ['DEC', 24]
                        ]
                    }
                ]
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#jqChart4').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                series: [
                    {
                        type: 'column',
                        title: 'BANGLADESH',
                        fillStyles: ['#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970'],
                        data: [['JAN', 33], ['FEB', 57], ['MAR', 33],
                        ['APR', 12], ['MAY', 35], ['JUN', 7], ['JUL', 24],
                        ['AUG', 12], ['SEP', 35], ['OCT', 7], ['NOV', 24], ['DEC', 24]
                        ]
                    }
                ]
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#jqChart5').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                series: [
                    {
                        type: 'column',
                        title: 'SRI LANKA',
                        fillStyles: ['#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970'],
                        data: [['JAN', 33], ['FEB', 57], ['MAR', 33],
                        ['APR', 12], ['MAY', 35], ['JUN', 7], ['JUL', 24],
                        ['AUG', 12], ['SEP', 35], ['OCT', 7], ['NOV', 24], ['DEC', 24]
                        ]
                    }
                ]
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#jqChart6').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                series: [
                    {
                        type: 'column',
                        title: 'PHILIPPINES',
                        fillStyles: ['#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970'],
                        data: [['JAN', 33], ['FEB', 57], ['MAR', 33],
                        ['APR', 12], ['MAY', 35], ['JUN', 7], ['JUL', 24],
                        ['AUG', 12], ['SEP', 35], ['OCT', 7], ['NOV', 24], ['DEC', 24]
                        ]
                    }
                ]
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#jqChart7').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                series: [
                    {
                        type: 'column',
                        title: 'VIETNAM',
                        fillStyles: ['#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970', '#191970'],
                        data: [['JAN', 33], ['FEB', 57], ['MAR', 33],
                        ['APR', 12], ['MAY', 35], ['JUN', 7], ['JUL', 24],
                        ['AUG', 12], ['SEP', 35], ['OCT', 7], ['NOV', 24], ['DEC', 24]
                        ]
                    }
                ]
            });
        });
    </script>
}
