
@{
    ViewBag.Title = "ProfitAndLoss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .highcharts-button-symbol {
        display: none !important;
    }

    .highcharts-legend {
        display: none !important;
    }
</style>
<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Profit And Loss</h4>
                    <div class="box-tools">

                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div id="container">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section SectionScripts {
    <script type="text/javascript">
        $(function () {
            $('#liProfitandlossReport').addClass('active');
        });

        Highcharts.chart('container', {
            chart: {
                type: 'column',
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: ['Apples', 'jok', 'Apples', 'jok', 'Apples', 'jok', 'Apples', 'jok', , 'Apples', 'jok', 'Apples', 'jok']
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'revenue',
                color: "blue",
                data: [10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
            }, {
                name: 'profit',
                color: "green",
                data: [5, 0, 3, 0, 4, 0, 2, 6, 4, 0, 2, 6]
            },
            {
                name: 'loss',
                color: "red",
                data: [0, -1, 0, -6, 0, -1, 0, 0, 0, -1, 0,0]
            }]
        });
    </script>
}

