
@{
    ViewBag.Title = "TotalRevenue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page page-forms-elements">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                    <h4>Total Revenue</h4>
                    <div class="box-tools">
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="square">
                                            <h3 style="color:green;padding-top:30%; text-align:center">TOTAL REVENUE ACHIEVED </h3>
                                            <h3 style="color:green; text-align:center">39.87%</h3>
                                        </div>
                                    </div>
                                    <div style="padding-top:12px" class="col-md-2">
                                        <div class="sml">
                                            <h6 style="color:white;padding-top:30%; text-align:center">PAKISTAN</h6>
                                            <h6 style="color:white; text-align:center">39.87%</h6>
                                        </div>
                                        <div class="sml">
                                            <h6 style="color:white;padding-top:30%; text-align:center">LAOS</h6>
                                            <h6 style="color:white; text-align:center">12%</h6>
                                        </div>
                                        <div class="sml">
                                            <h6 style="color:white;padding-top:30%; text-align:center">MYANMAR</h6>
                                            <h6 style="color:white; text-align:center">23%</h6>
                                        </div>
                                        <div class="sml">
                                            <h6 style="color:white;padding-top:30%; text-align:center">INDIA</h6>
                                            <h6 style="color:white; text-align:center">23%</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="sml">
                                                <h6 style="color:white;padding-top:30%; text-align:center">CAMBODIA</h6>
                                                <h6 style="color:white; text-align:center">52%</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml">
                                                <h6 style="color:white;padding-top:30%; text-align:center">BANGLADESH</h6>
                                                <h6 style="color:white; text-align:center">45%</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml">
                                                <h6 style="color:white;padding-top:30%; text-align:center">VIETNAM</h6>
                                                <h6 style="color:white; text-align:center">33%</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml">
                                                <h6 style="color:white;padding-top:30%; text-align:center">PHILIPPINES</h6>
                                                <h6 style="color:white; text-align:center">42%</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml">
                                                <h6 style="color:white;padding-top:30%; text-align:center">SRI LANKA</h6>
                                                <h6 style="color:white; text-align:center">48%</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml">
                                                <h6 style="color:white;padding-top:30%; text-align:center">SINGAPORE</h6>
                                                <h6 style="color:white; text-align:center">48%</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row css10">
                                    <div class="col-md-10">
                                        <div id="jqChart1"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="square1">
                                            <h3 style="color:white;padding-top:30%; text-align:center">TOTAL REVENUE YET TO ACHIVE</h3>
                                            <h3 style="color:white; text-align:center">61.37%</h3>
                                        </div>
                                    </div>
                                    <div style="padding-top:12px" class="col-md-2">
                                        <div class="sml1">
                                            <h6 style="color:white;padding-top:30%; text-align:center">PAKISTAN</h6>
                                            <h6 style="color:white; text-align:center">39.87%</h6>
                                        </div>
                                        <div class="sml1">
                                            <h6 style="color:white;padding-top:30%; text-align:center">LAOS</h6>
                                            <h6 style="color:white; text-align:center">12%</h6>
                                        </div>
                                        <div class="sml1">
                                            <h6 style="color:white;padding-top:30%; text-align:center">MYANMAR</h6>
                                            <h6 style="color:white; text-align:center">23%</h6>
                                        </div>
                                        <div class="sml1">
                                            <h6 style="color:white;padding-top:30%; text-align:center">INDIA</h6>
                                            <h6 style="color:white; text-align:center">23%</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="sml1">
                                                <h6 style="color:white;padding-top:30%; text-align:center">CAMBODIA</h6>
                                                <h6 style="color:white; text-align:center">52%</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml1">
                                                <h6 style="color:white;padding-top:30%; text-align:center">BANGLADESH</h6>
                                                <h6 style="color:white; text-align:center">45%</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml1">
                                                <h6 style="color:white;padding-top:30%; text-align:center">VIETNAM</h6>
                                                <h6 style="color:white; text-align:center">33%</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml1">
                                                <h6 style="color:white;padding-top:30%; text-align:center">PHILIPPINES</h6>
                                                <h6 style="color:white; text-align:center">42%</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml1">
                                                <h6 style="color:white;padding-top:30%; text-align:center">SRI LANKA</h6>
                                                <h6 style="color:white; text-align:center">48%</h6>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="sml1">
                                                <h6 style="color:white;padding-top:30%; text-align:center">SINGAPORE</h6>
                                                <h6 style="color:white; text-align:center">48%</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row css10">
                                        <div class="col-md-10">
                                            <div id="jqChart2"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    div.square {
        max-width: 100%;
        max-height: 100%;
        min-height: 320px;
        background-color: black;
    }

    div.square1 {
        max-width: 100%;
        max-height: 100%;
        min-height: 320px;
        background-color: red;
    }

    div.sml {
        max-width: 100%;
        max-height: 100%;
        min-height: 70px;
        background-color: black;
    }

    div.sml1 {
        max-width: 100%;
        max-height: 100%;
        min-height: 70px;
        background-color: red;
    }
</style>
@section SectionScripts {
    <script lang="javascript" type="text/javascript">
        $(document).ready(function () {
            $('#jqChart1').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                axes: [
                    {
                        type: 'category',
                        location: 'bottom',
                        categories: ['SRI LANKA', 'MYANMAR', 'CAMBODIA', 'PAKISTAN', 'LAOS', 'PHILIPPINES', 'VIETNAM', 'BANGLADESH'],
                        labels: {
                            font: '12px sans-serif',
                            angle: -45
                        }
                    }
                ],
                series: [
                    {
                        type: 'column',
                        title: '',
                        fillStyles: ['#418CF0', '#FCB441', '#E0400A', '#056492', '#1A3B69', '#418CF0', '#E0400A', '#1A3B69'],
                        data: [33, 58, 33, 12, 50, 25, 39, 40]
                    }
                ]
            });
        });
    </script>
    <script lang="javascript" type="text/javascript">
        $(function () {
            $('#liReportsTotalRevenue').addClass('active');
        });
        $(document).ready(function () {
            $('#jqChart2').jqChart({
                title: { text: '' },
                animation: { duration: 1 },
                shadows: {
                    enabled: true
                },
                axes: [
                    {
                        type: 'category',
                        location: 'bottom',
                        categories: ['SRI LANKA', 'MYANMAR', 'CAMBODIA', 'PAKISTAN', 'LAOS', 'PHILIPPINES', 'VIETNAM', 'BANGLADESH'],
                        labels: {
                            font: '12px sans-serif',
                            angle: -45
                        }
                    }
                ],
                series: [
                    {
                        type: 'column',
                        title: '',
                        fillStyles: ['#418CF0', '#FCB441', '#E0400A', '#056492', '#1A3B69', '#418CF0', '#E0400A', '#1A3B69'],
                        data: [33, 58, 33, 12, 50, 25, 39, 40]
                    }
                ]
            });
        });
    </script>
}
