
@{
    ViewBag.Title = "Index";
}

<div class="page page-dashboard">

    <div class="page-wrap">

       

    </div> <!-- #end page-wrap -->
</div>
@section SectionScripts{
    <script type="text/javascript">
        $(function () {
            $('#liDashboard').addClass('active');
        });
    </script>
}

