
@{
    ViewBag.Title = "VendorsAndTrainersReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="box" id="grid">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <div class="row css10">
                        <div class="col-sm-12 pull-left">
                            <button type="button" class="btn btn-primary btn-sm waves-effect" data-toggle="modal" onclick="PrintVendorsandTrainerList()"><i class="fa fa-print"></i>Print</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">

</div>

@section SectionScripts{
    <script type="text/javascript">

        function PrintVendorsandTrainerList()
        {
            debugger;
            $.ajax({
                url: '@Url.Content("~/Report/ViewReport")',
                method: 'get',
                contentType: 'text/html',
                success: function (html) {
                    debugger;
                    $('#myModal').html(html);
                    $('#myModal').modal('show');
                },
                error: function (err) {

                }
            });
        }
    </script>
    }